/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

.main-content{
    max-width: 1300px;
    background-color:rgb(180, 208, 231);
    margin: auto;
}
/* font */
    font-family: 'Open Sans', sans-serif;

    /* button */


/* header */

.main-header{
    margin: 20px;
    max-width: 1300px;
    margin: auto;
    position:fixed;
    z-index: 10;
}
.left-header .right-header{
    height: 30px;
}
/* css image header */
left-header img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;  
}

nav.header-nav-l{
    display: inline-block;
    vertical-align: super;
    
}
.left-header{
    width: calc(50% - 2px);
    display: inline-block;
    vertical-align: middle;  
    padding-left: 20px;
}
.right-header{
    width:calc(50% - 2px);
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    padding-right: 20px;
}
.main-nav li{
    display: inline-block;
    margin:20px;
} 
.main-nav{
    display: inline-block;
}
.accedi{
    display: inline-block;
    vertical-align: middle;
} 
 #blue-button{
    text-decoration: none;
    border:none;
    padding: 9px 23px;
    background-color: rgb(0, 97, 255);
    color: white;
}
h1{
    font-size: 58px;
    padding:108px 108px 80px  170px
}
.runner{
    width: 100%;
    background-color:rgb(180, 208, 231);
}

.text-runner{
    width: 500px;
    padding-left: 170px;
    display: inline-block;
}
#runner-button{
    margin-top: 23px;
    text-decoration: none;
    border:none;
    padding: 9px 23px;
    background-color: rgb(0, 97, 255);
    color: white; 
}
.runner img{
    width: 600px;
    /* position:relative; */
}
.runner-img{
    float:right;
    margin-bottom: -50px;
}
i .fa-solid fa-arrow-down{
    font-family: 'Font Awesome 5 Free';
    font-size: 30px;
    margin-top: 30px;
}
.clearfix::after{
    clear:both;
    content:"";
    display: table;
}
/* tariff section */
.main{
    background-color: white;
}
.tariff{
    max-width: 960px;
    padding-top: 150px;
    margin:auto;
    font-size: 30px;
}
.radio{
    font-size: 16px;
    margin-top: 16px;
}
/* column */
.top-column{
    text-align: center;
    padding: 10px 0px 10px 0;

}
.column{
    width:32%;
    border:1px solid rgb(157, 155, 155);
    font-size: initial;

}
.cardinal-points{
    list-style: none;
}
#prova-gratis{
    text-decoration: none;
    text-align: center;
    border:none;
    padding: 9px 62px;
    background-color: rgb(0, 97, 255);
    color: white;
    display:block;
}
.down-column{
    padding: 20px;
    line-height: 44px;
}
.down-column > hr{
    width: 45px;
}
.top-column{
    float:left;
}